body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #1b6d85;
}

.container {
  position: fixed;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #32c8de;
  overflow: auto;
}
@media screen and (min-width: 550px) and (orientation: landscape) {
  .container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

::-webkit-scrollbar {
  display: none;
}

li {
  border-bottom: 1px solid rgba(205, 212, 226, 0.589);
  padding: 10px;
}

svg {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}
